<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        MasterDocs
    </title>
    <meta name="description" content="">
    <meta name="author" content="MasterDocs - www.masterdocs.fr">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="./css/ink.css">
    <!-- inks css file -->
    <link rel="stylesheet" type="text/css" href="./js/jsonFormatter.css">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
    <!--[if lt IE 9 ]>
    <link rel="stylesheet" href="./css/ink-ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <![endif]-->

    <script src="./js/jquery.2.1.1.min.js"></script>
    <style type="text/css"></style>
    <script type="text/javascript" src="./js/jsonformatter.js"></script>

    <!-- test browser flexbox support and load legacy grid if unsupported -->
    <script type="text/javascript" src="./js/modernizr.js"></script>
    <script type="text/javascript">
        Modernizr.load({
            test: Modernizr.flexbox,
            nope: './css/ink-legacy.min.css'
        });
    </script>

    <!-- load inks javascript files from the cdn -->
    <script type="text/javascript" src="./js/holder.js"></script>
    <script type="text/javascript" src="./js/ink-all.min.js"></script>
    <script type="text/javascript" src="./js/autoload.js"></script>


    <style>
        .screen-size-helper {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            line-height: 1.6em;
            font-size: 1em;
            padding: 0.5333333333333333em 0.8em;
            background: rgba(0, 0, 0, 0.7);
            z-index: 100;
        }

        .screen-size-helper .title,
        .screen-size-helper ul {
            color: white;
            text-shadow: 0 1px 0 #000000;
        }

        .screen-size-helper .title {
            font-size: inherit;
            line-height: inherit;
            float: left;
            text-transform: uppercase;
            font-weight: 500;
        }

        .screen-size-helper ul {
            float: right;
            margin: 0;
            padding: 0;
            line-height: inherit !important;
        }

        .screen-size-helper ul li {
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: inherit !important;
        }

        .screen-size-helper ul li.tiny {
            color: #0f75da;
        }

        .screen-size-helper ul li.small {
            color: #4a9b17;
        }

        .screen-size-helper ul li.medium {
            color: #ff9c00;
        }

        .screen-size-helper ul li.large {
            color: #c91111;
        }

        .screen-size-helper ul li.xlarge {
            color: white;
        }

        body {
            background: #ededed;
        }

        header {
            padding: 2em 0;
            margin-bottom: 2em;
        }

        header h1 {
            font-size: 2em;
        }

        header h1 small:before {
            content: "|";
            margin: 0 0.5em;
            font-size: 1.6em;
        }

        footer {
            background: #ccc;
            color: #000003;
        }

        footer p {
            padding: 0.5em 1em 0.5em 0;
            margin: 0;
        }

        .logo {
            width: 128px;
            vertical-align: middle;
        }

        .json-source {
            display: none;
        }

        .json-dest {
            font-family: monospace;
            white-space: pre;
        }

        .clickable {
            cursor: pointer;
        }

        .verbContainer {
            float: right;
            display: inline-block;
        }

        .entryListRow:hover {
            background-color: #fefbd6;
        }

        .ulnostyle {
            list-style: none !important;
        }

        .box-entry {
            border-radius: 4px;
            -webkit-box-shadow: 0 2px 3px 0 #dddddd;
            -moz-box-shadow: 0 2px 3px 0 #dddddd;
            box-shadow: 0 2px 3px 0 #dddddd;
            border: 1px solid #BBB;
            background-color: #FFF;
            padding: 1em;
            margin-top: 1em;
        }

        .entry-box {
            border-radius: 4px;
            -webkit-box-shadow: 0 2px 3px 0 #dddddd;
            -moz-box-shadow: 0 2px 3px 0 #dddddd;
            box-shadow: 0 2px 3px 0 #dddddd;
            border: 1px solid #BBB;
            background-color: #e6e6e6;
            padding: 1em;
            margin-top: 1em;
        }
    </style>
    <script>
        function revealJSON($elem) {
            var $parent = $elem.parent();
            var $dest = $parent.find('.json-dest');
            var $src = $parent.find('.json-source');
            if ($dest.is(':visible')) {
                $dest.html("");
            } else {
                $dest.jsonFormat($src);
            }
            $dest.toggleClass("hide-all");
        }
        $(document).ready(function () {
            var hash = location.hash;
            if (hash != "" && hash.indexOf("-modal") > 0) {
                new Ink.UI.Modal(hash).open();
            }
            $('.action').click(function () {
                location.hash = this.id.replace("toggle", "modal");
            });
        });
    </script>

<body>
<!--[if lte IE 9 ]>
      <div class="ink-alert basic" role="alert">
          <button class="ink-dismiss">&times;</button>
            <p>
                <strong>You are using an outdated Internet Explorer version.</strong>
                Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
            </p>
        </div>
        -->
<header class="ink-grid">
    <h1 id="header" class="all-100">
        <img src="./img/masterdocs.png" class="logo">MasterDocs for
        connect-webservices
        <small class="tooltip" data-tip-text="{{metadata.groupId}}.{{metadata.artifactId}}.{{metadata.version}}"
               data-tip-where="down">Version {{metadata.version}}
    </h1>
</header>
<div class="ink-grid">
    <div class="column-group gutters">
        <div class="all-15">
            <nav class="ink-navigation sticky" id="alerts_menu">
                <ul class="menu vertical grey">
                    <li class=""><a class="scrollableLink" href="#header"><span class="fa fa-chevron-up"></span></a>
                    </li>
                    <li class="active"><a class="scrollableLink" href="#nav-resources">Resources</a></li>
                    <li class=""><a class="scrollableLink" href="#nav-entities">Entities</a></li>
                </ul>
            </nav>
        </div>
        <div class="all-85">
            <section id="nav-resources" data-spy="true" data-target="#alerts_menu">
                <h2>Resources</h2>
                {{#each resources}}
                    <dl id="{{rootPath}}" class="box-entry">
                        <dt>{{rootPath}}
                            <button class="toggle" data-target="#{{generateResID this}}-toggle"><i
                                    class="fa fa-caret-square-o-down"></i> details
                            </button>
                        </dt>
                        <ul id="{{generateResID this}}-toggle" class="hide-all unstyled">
                            {{#each entryList}}
                                <li class="entryListRow">{{{decorate @key}}}
                                    <span class="verbContainer">
                                        {{#each this}}
                                            <span class="clickable action ink-label {{getLabelColor this}}"
                                                  id="{{generateResEntryID this}}-toggle">{{verb}}</span>
                                        {{/each}}
                                    </span>
                                </li>
                            {{/each}}
                        </ul>
                    </dl>
                {{/each}}
            </section>
            <section id="nav-entities" data-spy="true" data-target="#alerts_menu">
                <h2>Entities</h2>

                {{#each entities}}
                    <dl id="{{name}}" class="box-entry">
                        <dt>
                            {{#isEnum}}
                                <span class="ink-label blue">E</span>
                            {{else}}
                                <span class="ink-label orange">C</span>
                            {{/isEnum}}
                          {{extractName this.name}} <em>({{this.name}})</em>
                            <button class="toggle" data-target="#{{replaceDot this.name}}-toggle">
                                <i class="fa fa-caret-square-o-down"></i> details
                            </button>
                        </dt>
                        <div id="{{replaceDot this.name}}-toggle" class="hide-all">
                            {{#if superClass}}
                                <dd>superclass : <a href="#{{superClass}}">{{extractName this.superClass}}</a></dd>
                            {{/if}}
                            <dd>
                                <ul class="unstyled">
                                    {{#if fields}}
                                        {{#each fields}}
                                            <li>
                                                {{#isEnum}}
                                                    <span class="ink-label blue">E</span>
                                                {{else}}
                                                    <span class="ink-label orange">C</span>
                                                {{/isEnum}}
                                                Name : {{@key}} - Type : {{{LINK this}}}{{extractName this.name}}
                                                </a>
                                            </li>
                                        {{/each}}
                                    {{else}}
                                        {{#if values}}
                                            {{#each values}}
                                                <li><i class="fa fa-circle"></i> {{this}}</li>
                                            {{/each}}
                                        {{else}}
                                            <div class="ink-alert basic orange">
                                            <p>No field for this entity</p>
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                </ul>
                            </dd>
                        </div>
                    </dl>
                {{/each}}
            </section>
            <div id="modals">
                {{#each resources}}
                    {{#each entryList}}
                        {{#each this}}
                            <div class="ink-shade fade" id="{{generateResEntryID this}}-toggle">
                                <div class="ink-modal" data-trigger="#{{generateResEntryID this}}-toggle"
                                     id="{{generateResEntryID this}}-modal">
                                    <div class="modal-header">
                                        <button class="modal-close ink-dismiss"></button>
                                        <h5>{{verb}} {{{URL this}}} - {{methodName}}</h5>
                                    </div>
                                    <div class="modal-body">
                                        <h3><span class="ink-label {{getLabelColor this}}">{{verb}}</span>
                                            {{{URL this}}} - {{methodName}}</h3>

                                        <div class="entry-box">
                                                       <span class="condensed ink-badge black"><i
                                                               class="fa-arrow-left fa"></i> Request</span>
                                            {{#if requestEntity}}
                                                <span
                                                        class="condensed ink-badge yellow clickable fa fa-magic"
                                                        onclick="revealJSON($(this));">JSON</span>
                                                <span style=" text-overflow: ellipsis;word-wrap: break-word;">{{responseEntity}}</span>

                                                <div class="json-source hide-all">
                                                    {{{JSON requestEntity}}}
                                                </div>
                                                <div class="json-dest hide-all">
                                                </div>
                                            {{/if}}
                                            {{#if queryParams}}
                                                <ul class="unstyled ulnostyle">
                                                    {{#each queryParams}}
                                                        <li>
                                                            <span class="condensed ink-label green">QueryParam</span>
                                                            {{this.name}} ({{extractName this.className}})
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            {{/if}}
                                            {{#if pathParams}}
                                                <ul class="unstyled ulnostyle">
                                                    {{#each pathParams}}
                                                        <li>
                                                            <span class="condensed ink-label blue">PathParams</span>
                                                            {{this.name}} ({{extractName this.className}})
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            {{/if}}
                                        </div>
                                        <div class="entry-box">
                                                       <span class="condensed ink-badge black"><i
                                                               class="fa-arrow-right fa "></i> Response</span>
                                            {{#if responseEntity}}
                                                <span
                                                        class="condensed ink-badge yellow clickable fa fa-magic"
                                                        onclick="revealJSON($(this));">JSON</span>
                                                <span style=" text-overflow: ellipsis;word-wrap: break-word;">{{responseEntity}}</span>

                                                <div class="json-source hide-all">
                                                    {{{JSON responseEntity}}}
                                                </div>
                                                <div class="json-dest hide-all">
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="push-right">
                                            <button class="ink-button grey ink-dismiss">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/each}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="ink-grid">
        <nav class="ink-navigation push-left all-100">
            <ul class="menu horizontal">
                <li><a href="#header">Overview</a></li>
                <li><a href="#nav-resources">Resources</a></li>
                <li><a href="#nav-entities">Entities</a></li>
            </ul>
        </nav>
        <p class="push-right small-100">Generate with <a href="http://www.masterdocs.fr">MasterDocs</a></p>
    </div>
</footer>
</body>
</html>
