<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        MasterDocs
    </title>
    <meta name="description" content="">
    <meta name="author" content="MasterDocs - www.masterdocs.fr">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon">

    <link rel="shortcut icon" href="./img/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="./img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="./img/apple-touch-icon-57x57.png">

    <link rel="stylesheet" type="text/css" href="./css/ink.css">
    <link rel="stylesheet" type="text/css" href="./css/jsonFormatter.css">

    <!--[if IE 7 ]>
    <link rel="stylesheet" href="./css/ink-ie7.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <![endif]-->

    <script src="http://code.jquery.com/jquery-git1.js"></script>
    <script type="text/javascript" src="./js/holder.js"></script>
    <script type="text/javascript" src="./js/ink.min.js"></script>
    <script type="text/javascript" src="./js/ink-ui.min.js"></script>
    <script type="text/javascript" src="./js/autoload.js"></script>
    <script type="text/javascript" src="./js/prettify.js"></script>
    <script type="text/javascript" src="./js/html5shiv.js"></script>
    <script type="text/javascript" src="./js/jsonformatter.js"></script>


    <style type="text/css">
        body {
            background: #ededed;
        }

        header {
            padding: 2em 0;
            margin-bottom: 2em;
        }

        header h1 {
            font-size: 2em;
        }

        header h1 small:before {
            content: "|";
            margin: 0 0.5em;
            font-size: 1.6em;
        }

        footer {
            background: #ccc;
            color: #000003;
        }

        footer p {
            padding: 0.5em 1em 0.5em 0;
            margin: 0;
        }

        .box {
            border-radius: 4px;
            -webkit-box-shadow: 0 2px 3px 0 #dddddd;
            -moz-box-shadow: 0 2px 3px 0 #dddddd;
            box-shadow: 0 2px 3px 0 #dddddd;
            border: 1px solid #BBB;
            background-color: #FFF;
            padding: 1em;
            margin-top: 1em;
        }

        .logo {
            width: 128px;
            vertical-align: middle;
        }

        .clickable {
            cursor: pointer;
        }

        .verbContainer {
            float: right;
            display: inline-block;
        }

        .entryListRow:hover {
            background-color: #fefbd6;
        }

        .ulnostyle {
            list-style: none !important;
        }

        .json-source {
            display: none;
        }

        .json-dest {
            font-family: monospace;
            white-space: pre;
        / / or pre-wrap / / All fails without this one !
        }
    </style>
    <script>
        function revealJSON($elem) {
            var $parent = $elem.parent();
            var $dest = $parent.find('.json-dest');
            var $src = $parent.find('.json-source');
            if ($dest.is(':visible')) {
                $dest.html("");
                $dest.hide();
            } else {
                $dest.jsonFormat($src);
                $dest.show();
            }
        }
        $(document).ready(function () {
            var hash = location.hash;
            if (hash != "" && hash.indexOf("-modal")>0) {
                new Ink.UI.Modal(hash).open();
            }
            $('.action').click(function () {
                location.hash = this.id.replace("toggle", "modal");
            });
        });
    </script>
</head>

<body>
<div class="ink-grid">
    <header>
        <h1 id="header" class="pull-left medium-100 small-100">
            <img src="./img/masterdocs.png" class="logo"/>MasterDocs for
            {{metadata.artifactId}}
            <small class="tooltip" data-tip-text="{{metadata.groupId}}.{{metadata.artifactId}}.{{metadata.version}}"
                   data-tip-where="down">Version {{metadata.version}}
            </small>
        </h1>
    </header>
    <div class="column-group gutters">
        <div class="large-10 medium-25 small-100">
            <nav class="ink-navigation sticky" data-offset-top="70px" data-offset-bottom="350px" id="alerts_menu">
                <ul class="menu vertical grey flat rounded" style="width:100px">
                    <li class=""><a class="scrollableLink" href="#header"><span class="icon-chevron-up"></span></a></li>
                    <li class="active"><a class="scrollableLink" href="#nav-resources">Resources</a></li>
                    <li class=""><a class="scrollableLink" href="#nav-entities">Entities</a></li>
                </ul>
            </nav>
        </div>
        <div class="large-90 medium-75 small-100">
        <section id="nav-resources" data-spy="true" data-target="#alerts_menu">
                <h2>Resources</h2>
                {{#each resources}}
                    <dl id="{{rootPath}}" class="box">
                        <dt>{{rootPath}}
                            <button class="toggle" data-target="#{{generateResID this}}-toggle"><i
                                    class="icon-collapse icon-medium"></i> details
                            </button>
                        </dt>
                        <ul id="{{generateResID this}}-toggle" class="hide-all unstyled">
                            {{#each entryList}}
                                <li class="entryListRow">{{{decorate @key}}}
                                    <span class="verbContainer">
                                        {{#each this}}
                                            <span class="clickable action ink-label {{getLabelColor this}}"
                                                  id="{{generateResEntryID this}}-toggle">{{verb}}</span>
                                        {{/each}}
                                    </span>
                                </li>
                            {{/each}}
                        </ul>
                    </dl>
                {{/each}}
            </section>
            <section id="nav-entities" data-spy="true" data-target="#alerts_menu">
                <h2>Entities</h2>

                {{#each entities}}
                    <dl id="{{name}}" class="box">
                        <dt>
                            {{#isEnum}}
                                <span class="ink-label info">E</span>
                            {{else}}
                                <span class="ink-label warning">C</span>
                            {{/isEnum}}
                            {{extractName this.name}}
                            <button class="toggle" data-target="#{{extractName this.name}}-toggle">
                                <i class="icon-collapse"></i> details
                            </button>
                        </dt>
                        <div id="{{extractName this.name}}-toggle" class="hide-all">
                            {{#if superClass}}
                                <dd>superclass : <a href="#{{superClass}}">{{extractName this.superClass}}</a></dd>
                            {{/if}}
                            <dd>
                                <ul class="unstyled">
                                    {{#if fields}}
                                        {{#each fields}}
                                            <li>
                                                {{#isEnum}}
                                                    <span class="ink-label info">E</span>
                                                {{else}}
                                                    <span class="ink-label warning">C</span>
                                                {{/isEnum}}
                                                Name : {{@key}} - Type : {{{LINK this}}}{{extractName this.name}}
                                                </a>
                                            </li>
                                        {{/each}}
                                    {{else}}
                                        {{#if values}}
                                            {{#each values}}
                                                <li><i class="icon-circle"></i> {{this}}</li>
                                            {{/each}}
                                        {{else}}
                                            <div class="ink-alert basic warning">
                                                <p>No field for this entity</p>
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                </ul>
                            </dd>
                        </div>
                    </dl>
                {{/each}}
            </section>
            <div id="modals">
                {{#each resources}}
                    {{#each entryList}}
                        {{#each this}}
                            <div class="ink-shade fade" id="{{generateResEntryID this}}-toggle">
                                <div class="ink-modal" data-trigger="#{{generateResEntryID this}}-toggle"
                                     id="{{generateResEntryID this}}-modal">
                                    <div class="modal-header">
                                        <button class="modal-close ink-dismiss"></button>
                                        <h5>{{verb}} {{{URL this}}} - {{methodName}}</h5>
                                    </div>
                                    <div class="modal-body">
                                        <h3><span class="ink-label {{getLabelColor this}}">{{verb}}</span>
                                            {{{URL this}}} - {{methodName}}</h3>

                                        <div class="box">
                                                       <span class="ink-badge black"><i
                                                               class="icon-chevron-sign-left"></i> Request</span>
                                            {{#if requestEntity}}
                                                <span
                                                        class="ink-badge grey clickable"
                                                        onclick="revealJSON($(this));">JSON</span>
                                                {{requestEntity}}

                                                <div class="json-source hide-all">
                                                    {{{JSON requestEntity}}}
                                                </div>
                                                <div class="json-dest hide-all">
                                                </div>
                                            {{/if}}
                                            {{#if queryParams}}
                                                <ul class="unstyled ulnostyle">
                                                    {{#each queryParams}}
                                                        <li>
                                                            <span class="ink-label info">QueryParam</span>
                                                            {{this.name}} ({{extractName this.className}})
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            {{/if}}
                                            {{#if pathParams}}
                                                <ul class="unstyled ulnostyle">
                                                    {{#each pathParams}}
                                                        <li>
                                                            <span class="ink-label success">PathParams</span>
                                                            {{this.name}} ({{extractName this.className}})
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            {{/if}}
                                        </div>
                                        <div class="box">
                                                       <span class="ink-badge black"><i
                                                               class="icon-chevron-sign-right"></i> Response</span>
                                            {{#if responseEntity}}
                                                <span
                                                    class="ink-badge grey clickable"
                                                    onclick="revealJSON($(this));">JSON</span>
                                                {{responseEntity}}
                                                <div class="json-source hide-all">
                                                    {{{JSON responseEntity}}}
                                                </div>
                                                <div class="json-dest hide-all">
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="push-right">
                                            <button class="ink-button grey ink-dismiss">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/each}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="ink-grid">
        <nav class="ink-navigation push-left medium-100 small-100 small-push-left">
            <ul class="menu horizontal">
                <li><a href="#">Overview</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Entities</a></li>
            </ul>
        </nav>
        <p class="push-right small-100">Generate with <a href="http://www.masterdocs.fr">MasterDocs</a></p>
    </div>
</footer>
</body>
</html>
