<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            MasterDocs
        </title>
        <meta name="description" content="">
        <meta name="author" content="MasterDocs - www.masterdocs.fr">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="./img/favicon.ico" type="image/x-icon">

        <link rel="shortcut icon" href="./img/favicon.ico">
        <link rel="apple-touch-icon" sizes="114x114" href="./img/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="./img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" href="./img/apple-touch-icon-57x57.png">

        <link rel="stylesheet" type="text/css" href="./css/ink.css">
        
        <!--[if IE 7 ]>
            <link rel="stylesheet" href="./css/ink-ie7.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <![endif]-->
        
        <script type="text/javascript" src="./js/holder.js"></script>
        <script type="text/javascript" src="./js/ink.min.js"></script>
        <script type="text/javascript" src="./js/ink-ui.min.js"></script>
        <script type="text/javascript" src="./js/autoload.js"></script>
        <script type="text/javascript" src="./js/html5shiv.js"></script>

        <script type="text/javascript" src="./js/ink.toggle.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        
        <style type="text/css">
        body {
            background: #ededed;
        }
           header {
            padding: 2em 0;
            margin-bottom: 2em;
           }
           header h1 {
            font-size: 2em;
           }
           header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
           }
           footer {
            background: #ccc;
            color: #0003;
           }
           footer p {
            padding: 0.5em 1em 0.5em 0;
            margin: 0;        
           }
           .box {
             border-radius: 4px;
             -webkit-box-shadow: 0 2px 3px 0 #dddddd;
             -moz-box-shadow: 0 2px 3px 0 #dddddd;
             box-shadow: 0 2px 3px 0 #dddddd;
             border: 1px solid #BBB;
             background-color: #FFF;
             padding: 1em;
             margin-top: 1em;
           }
        </style>
    </head>
    
    <body>
        <div class="ink-grid">
            <header>
                <h1 id="header" class="pull-left medium-100 small-100">
                    <img src="./img/masterdocs.png" style="width:128px;vertical-align:middle"/>MasterDocs for {{metadata.artifactId}}<small>Version {{metadata.version}}</small>
                </h1>
            </header>
            <div class="column-group gutters">
                <div class="large-20 medium-25 small-100">
                    <nav class="ink-navigation sticky" data-offset-top="70px" data-offset-bottom="350px" id="alerts_menu">
                        <ul class="menu vertical grey flat rounded">
                            <li class=""><a class="scrollableLink" href="#header"><span class="icon-chevron-up"></span> Back to Top</a></li>
                            <li class="active"><a class="scrollableLink" href="#nav-resources">Resources</a></li>
                            <li class=""><a class="scrollableLink" href="#nav-entities">Entities</a></li>
                                        </ul>
                    </nav>
                </div>
                <div class="large-80 medium-75 small-100">
                <section id="nav-resources" data-spy="true" data-target="#alerts_menu">
                    <h2>Resources</h2>
                    {{#each resources}}
                    <dl id="{{rootPath}}" class="box">
                        <dt>{{rootPath}}</dt>
                        <ul class="unstyled">
                        {{#each entryList}}
                        <li><span class="ink-label {{getLabelColor this}}">{{this.verb}}</span> {{this.path}}</li>
                        {{/each}}
                        </ul>
                    </dl>
                    {{/each}}
                </section>
                <section id="nav-entities" data-spy="true" data-target="#alerts_menu">
                    <h2>Entities</h2>

                    {{#each entities}}
                    <dl id="{{name}}" class="box">
                    <dt>
                    {{#isEnum}}
                        <span class="ink-label info">E</span>
                    {{else}}
                        <span class="ink-label warning">C</span>
                    {{/isEnum}}
                    {{extractName this name}} <button class="toggle" data-target="#{{extractName this name}}-toggle"> <i class="icon-collapse
 icon-medium"></i> details </button></dt>
                     <div id="{{extractName this name}}-toggle" class="hide-all">
                        {{#if superClass}}
                        <dd>superclass : <a href="#{{superclass}}">{{extractSuperclass this}}</a></dd>
                        {{/if}}
                        <dd>
                            <ul class="unstyled">
                            {{#each fields}}
                            <li>
                            {{#isEnum}}
                                <span class="ink-label info">E</span>
                            {{else}}
                                <span class="ink-label warning">C</span>
                            {{/isEnum}}
                            Name : {{@key}} - Type : <a href="#{{this.name}}">{{extractName this this.name}}</a></li>
                            {{/each}}
                            {{#each values}}
                                <li>{{this}}</li>
                            {{/each}}
                            </ul>
                        </dd>
                    </div>
                    </dl>
                    {{/each}}
                 </section>
                </div>
            </div>
        </div>
        <footer>
        <div class="ink-grid">
            <nav class="ink-navigation push-left medium-100 small-100 small-push-left">
                <ul class="menu horizontal">
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Entities</a></li>
                </ul>
            </nav>
            <p class="push-right small-100">Generate with <a href="http://www.masterdocs.fr">MasterDocs</a></p>
        </div>
        </footer>
    </body>
</html>
